%p#notice= notice

%h1 Listing dispatches

%table
  %thead
    %tr
      %th created
      %th recipients
      %th template
      %th sent at
      %th
      %th
      %th

  %tbody
    - @dispatches.each do |dispatch|
      %tr
        %td= dispatch.created_at.to_s(:short)
        %td= dispatch.recipients.size
        %td= dispatch.template
        %td= dispatch.sent_at
        %td= link_to 'Show', dispatch
        %td= link_to 'Edit', edit_dispatch_path(dispatch)
        %td= link_to 'Destroy', dispatch, method: :delete, data: { confirm: 'Are you sure?' }

%br

= link_to 'New Dispatch', new_dispatch_path
